
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great stufs this month!!<%= @user.username %></h1>
     <div class="container-fluid">
        <%@products.each do |x|%>
        <% a =Product.find(x)%>
      <div class="panel panel-primary col-xs-2">
      <%=a.name%>
      <div><%= image_tag(a.pict.thumb , class: "img img-rounded pull-right" , size: "40x40") %></div>
      </div>
    <% end %>
     </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
